extends ./layout/index

block Contenido
    h1.container.mt-5.text-center=pagina
    .row.justify-content-center.col
        .col-md-8
            if(Errores)
                each error in Errores 
                    .alert.col.alert-danger.text-center=error.mensaje
            form(method="POST")
                .form-group
                    label(for="correo") Correo Electronico: 
                    input#correo(type="email", name="correo", placeholder="tu correo" class="form-control")
                .form-group
                    label(for="password") Contraseña: 
                    input#password(type="password", name="password", placeholder="tu contraseña" class="form-control", value=nombre)  
                input.btn.btn-success.btn-block.mb-2(type="submit" value="Entrar")
                a(href="/registro" class="text-uppercase fuente") Registrate aqui 