extends ./layout/index

block Contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros" class='img-fluid')
            .col-md-7.text-justify
                h1.text-center=pagina
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt laborum, saepe repellendus cupiditate temporibus dignissimos reiciendis! Nam temporibus enim accusamus exercitationem nostrum officia porro voluptatum aperiam earum? Eaque, ab maiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti harum, minus ullam perferendis voluptatum aliquid ad hic repellendus quasi in voluptates, eveniet dolore doloremque obcaecati adipisci laboriosam incidunt temporibus ratione!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quasi tempora similique, assumenda dignissimos a beatae quibusdam voluptates repudiandae sed distinctio. Consectetur earum velit id hic odio excepturi dignissimos maiores.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit rerum voluptatem voluptatibus nostrum tempora, sapiente eligendi, maiores repudiandae rem nihil facere voluptas veniam distinctio, minus ut praesentium mollitia sint nobis.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Seguridad", class="img-fluid-mb-4")
                    h2 Seguridad
                    p.text-justify Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga nam modi cum at perferendis obcaecati voluptatum quo ratione adipisci ad praesentium iste nulla accusantium, dicta illo quae eligendi magnam! Minus?
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Destinos", class="img-fluid-mb-4")
                    h2 Destinos
                    p.text-justify Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga nam modi cum at perferendis obcaecati voluptatum quo ratione adipisci ad praesentium iste nulla accusantium, dicta illo quae eligendi magnam! Minus?
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Precios", class="img-fluid-mb-4")
                    h2 Precios
                    p.text-justify Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga nam modi cum at perferendis obcaecati voluptatum quo ratione adipisci ad praesentium iste nulla accusantium, dicta illo quae eligendi magnam! Minus?