each testimonial in Testimonial
                .col-md-6.col-lg-4.mb-4
                    .card.p-3
                        .card-body
                        blockquote.blockquote
                        p.mb-0
                            | #{testimonial.mensaje}
                        footer.blockquote-footer
                            | #{testimonial.nombre} 